{{#each albums}}
    <div class="album">
    {{this.name}}
    <img src="{{this.images.0.url}}">
    <p>
        <a href="/tracks/{{this.id}}">View Tracks</a> {{!-- vers une autre route pour requete research --}} 
    </p>
</div>
{{/each}} {{!--Ce code va nous rendre chacun des albums de l'artiste --}}