{{#each artists}}
<div class="artist">
    {{this.name}}
    <img src="{{this.images.0.url}}">
    <p>
        <a href="/albums/{{this.id}}">View albums</a> {{!-- Les id sont changés automatiquement en fonction des artistes --}} 
    </p>
</div>

{{/each}}