<div class="page-home">
  <form action="/artists" method="GET">
    <input type="text" name="artist" required>

    <p>
      <button class="btn">Search for that artist</button>
    </p>
  </form>
</div>