<section>
    <div>
        <form action="/artist-search" method="GET">
            <label>

                <input type="text" name="artist" placeholder="Search for an artist !">
            </label>

            <button type="submit">Search for an Artist </button>
        </form>
    </div>
</section>