<div class="background-image">
    <div class="formulaire">
      <form action="/artist-search" method="GET">
        <label>
          <input type="text" name="artist" placeholder="Search for an Artist !">
        </label>
        <button type="submit">Search for an Artist</button>
      </form>
    </div>
</div>

