*, :before, :after {
    box-sizing: border-box;
    margin:0;
    padding:0;

};

html,body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}

/*home*/

.background-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/images/spotify-background.jpeg");
    background-size: cover;
    height: 100vh;
}


.formulaire{
    background-color:#f5f6fa;
    opacity: 0.6;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

input {
    width: 320px;
    height: 40px;
    font-size:15px;
}

button {
    background-color: rgba(238, 82, 83, 1);
    color:#c8d6e5;
    font-weight: 700;
    border: 1px solid #ee5253;
    width: 160px;
    height: 40px;
    cursor: pointer;
    margin-top:2em;
    padding:1px;
    font-size:15px;
    border-radius:2px;    
}

/*artist-search-results page*/
.artist {
    width: 320px ;
    margin-bottom: 10px;
}

.artist img {
    width: 320px;
    height: 320px;
    margin-top: 1em;
}

.card-artiste {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:auto;
    margin-right:auto;  
    width: 1200px;
}



.banniere {
    background-color:#576574;
    height: 5em;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
}

button a {
    text-decoration: none;
    color:#ffffff;
}

button a:hover {
    text-decoration: none;
    color:#ffffff;
}

#submit {
    background-color: #ee5253;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    margin-top: 0.5em;
}



/*albums results*/

.card-album {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:auto;
    margin-right: auto;
    width: 1200px;
     
}

.album {
    width: 320px ;
    margin-bottom: 10px;
    margin-right: 600px ;
}

.album img {
    width: 320px;
    height: 320px;
    margin-top: 1em;
}

/*track*/
.navbar {
    background-color:#353b48;
    height: 80px;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;    
}

.navbar div:nth-child(2){
    margin-right: 10em;
}

.container-tracks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #dcdde1;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.3em;
}

.track-name{
    margin-left:1em;
    color:black;
    margin-top: 1.5em;
}

.track-audio {
    margin-top: 0.5em;
    margin-right: 2em;
}
